// http://ionicframework.com/docs/v2/theming/


// App Shared Imports
// --------------------------------------------------
// These are the imports which make up the design of this app.
// By default each design mode includes these shared imports.
// App Shared Sass variables belong in app.variables.scss.

@import "../pages/home/home";
@import "../pages/login/login";

ion-content {
	background-color: #fbf8f4;
}

ion-content {
	color: #5a6575;
	font-weight: bold;
}

ion-header::after {
	background-image: none;
}

.toolbar-background {
	background-color: transparent;
}

.item-input {
	padding-left: 0;
	background-color: transparent;
}

.cf {
  overflow: auto;
}