// http://ionicframework.com/docs/v2/theming/


// App Shared Variables
// --------------------------------------------------
// Shared Sass variables go in the app.variables.scss file
@import "app.variables";


// App Material Design Variables
// --------------------------------------------------
// Material Design only Sass variables can go here


// Ionic Material Design Sass
// --------------------------------------------------
// Custom App variables must be declared before importing Ionic.
// Ionic will use its default values when a custom variable isn't provided.
@import "ionic.md";


// App Shared Sass
// --------------------------------------------------
// All Sass files that make up this app goes into the app.core.scss file.
// For simpler CSS overrides, custom app CSS must come after+ Ionic's CSS.
@import "app.core";


// App Material Design Only Sass
// --------------------------------------------------
// CSS that should only apply to the Material Design app

ion-content {
	background-color: #fbf8f4;
}

ion-card {
  margin: 20px 15px;
  width: calc(100% - 30px);
  border-radius: 10px;
  border-top-left-radius: 0px;
  font-size: 1.4rem;
  box-shadow: 0 5px 25px 0 rgba(0, 0, 0, 0.1);

  ion-card-content {
		background-color: #fbf8f4;
		white-space: normal;
		padding: 16px 20px;
	}

	&.self {
		box-shadow: 0 5px 25px 0 rgba(156, 195, 192, 0.6);
		border-top-left-radius: 10px;
		border-top-right-radius: 0;
		color: #fff;

		ion-card-content {
			background-color: #9cc3c0;
		}
	}

	&:last-child {
		margin-bottom: 30px;
	}
}

ion-content {
	color: #5a6575;
	font-weight: bold;
}

ion-header::after {
	background-image: none;
}

.toolbar-background {
	background-color: transparent;
}

.item-input {
	padding-left: 0;
	background-color: transparent;
}