.home-page {
  .telemetry {
		font-size: 24px;
  }

  .item-input {
    padding-left: 0;
    background-color: transparent;
  }

  ion-scroll {
    white-space: nowrap;  
    height: -webkit-calc(100vh - 120px);
    height: calc(100vh - 120px);
  }
}

